<div class="container-fluid  position-relative  ">
    <div class="row  ">

        <div class="col-12 d-flex justify-content-evenly  flex-wrap  ">
            <img  class="imgStyle imgStyle1 position-absolute  " src="../../assets/bread(4).png" alt="bread" width="347" height="304">
            <img  class="imgStyle imgStyle2 position-absolute " src="../../assets/bread(1).png" alt="bread">
            <img   class="imgStyle imgStyle3 position-absolute " src="../../assets/bread(2).png" alt="bread">
            <img  class="imgStyle imgStyle4 position-absolute " src="../../assets/bread(3).png" alt="bread">
        </div></div>
    <div class="row g-0 d-flex justify-content-around ">
        <div class="col-lg-4 col-sm-12  bgColor">
           <p class="pStyle "> Lorem Ipsum is simply  dummy text of the printing
             and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the
           </p> </div>
        <div class="col-lg-8  col-sm-12 mainBgColor pe-5 text-center hightCol">

         <div class="container  ">
            <div class="row pb-5 Padstyle ">
                <div class="col-12  ">
                    <h1 class="text-white hStyle text-uppercase pe-5 pt-5">How we
                        <br> work</h1>
         
                
                </div>
            </div>
            <div class="row  pt-5">  
                <div class="col-12 d-flex justify-content-start ms-5">
                  <app-contact-button></app-contact-button>
                </div>
                  </div>
         </div>

    
               
               
        </div>
     
     
        </div>
        
       

    </div>
  
    <div class="container-fluid">
  
    </div>


