.hStyle{
    font-family: var(--main-fontFamily);
    font-size: 170px;
    font-weight: 900;
    line-height: 138px;
    letter-spacing: 0em;
    text-align: right;
    margin-right: 7rem;
    
}
.pStyle{
    font-family: "Poppins";
font-size: 18px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
width: 277px;
height: 156px;
color: var(--main-bgColor);
margin-left: 13rem;
margin-top:8rem;

}
.layoutStyle{
    z-index: 999999999;
}
.imgStyle{  

      top:25rem;
}
.imgStyle1{  

    left:6rem;
}
.imgStyle2{  

    left:31rem;
}
.imgStyle3{  

    left:53rem;
}
.imgStyle4{  

    left:75rem;
}
.hightCol{
    height:840px;
  
}
/* .posStyle{
    
    top:80rem;
} */
img{
    border-radius: 10px;
}
.Padstyle{
    margin-bottom: 17rem;
}

@media only screen and (max-width: 850px) {
    .pStyle{
        margin-left: 2rem;
        margin-top:1rem;
    }
 
    .hStyle{
        font-size: 100px;
        font-weight: 400;
        text-align: left;
    }
    .imgStyle{  

        top:43rem;
   
  }

  .imgStyle2 , .imgStyle3 , .imgStyle4{  
  
    display: none;
  }
}


@media only screen and (max-width: 1500px) {
    .pStyle{
        margin-left: 2rem;
        margin-top:1rem;
    }
 
    .hStyle{
        font-size: 100px;
        font-weight: 400;
        text-align: left;
    }
    .imgStyle{  

        top:22rem;
  }
  .imgStyle1{  
  
      left:8rem;
  }

 
  .imgStyle2{  

    left:33rem;
}
.imgStyle3{  

    left:55rem;
}
.imgStyle4{  

    display: none;
}

 

}
@media only screen and (max-width: 1200px) {
    
    .hStyle{
        font-size: 80px;
        font-weight: 400;
        text-align: left;
    }

    .imgStyle1{  
  
        left:8rem;
    }
  
   
    .imgStyle2{  
  
      left:33rem;
  }
  .imgStyle3 , .imgStyle3{  
  
    display: none;
  }

  
}
@media only screen and (max-width: 1000px) {

    .hStyle{
        font-size: 60px;
        font-weight: 400;
        text-align: left;
    }

   .imgStyle{

        top:35rem;
    }


}

