
.hStyle{

    font-family: "Sen";
    font-size: 144px;
    font-weight: 800;
    line-height: 138px;
    letter-spacing: 0em;
    text-align: left;

}

img{
    width:30%;
  height:80% ;
  top: 75px;
  left:60rem;
 
}