
.hStyle{

    font-family: "Sen";
    font-size: 144px;
    font-weight: 800;
    line-height: 138px;
    letter-spacing: 0em;
    text-align: left;

}

img{
    width:30%;
  height:80% ;
  top: 75px;
  left:60rem;
 
}

@media only screen and (max-width: 1200px) {

  .hStyle{
    font-family: "Sen";
    font-size: 70px;
    font-weight: 400;
  }
  img {
    display: none;
  }

}


@media only screen and (max-width: 1500px) {


  
img{
  width:30%;
height:70% ;

left:60rem;

}
}

@media only screen and (max-width: 1400px) {


  
  img{

  left:52rem;
  
  }
  }