<div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-12 postion-relative  ">
                <div class=" position-absolute imgStyle">
                    <div class="col-lg-12 col-sm-6">
                           <img src="../../assets/cake1.png" alt="cake1"></div>
                 
                </div>
            </div>
        </div>
     
    </div> -->

    <div class="container-fluid bgColor">
  
    <div class="row ">
        <div class="col-lg-8 col-sm-8 mainBgColor g-0  ">
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                   <div class="col-lg-7   mb-5 pb-5">
                    <p class="text-white text-uppercase pstyle  ps-5">Peachy Pup <br> Bakery</p>
                      </div></div>
                      <div class="row  d-flex align-items-center justify-content-center mt-5 mb-5 pb-5 pt-5">
                        <div class="col-lg-7">
                            <h1 class="text-white text-uppercase">Tasty pastries</h1>
                            <p class="text-white  pstyle2 mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                           <button
                              type="button"
                              class=" mainbtn mt-3"
                           >
                           SEE MORE
                           </button>
                        </div>
                      
                      </div>
                      <div class="row mt-5 pt-5 ">
                        <div class="col-lg-3 col-sm-6    iconStyle text-end">
                            <p class="pb-1 pt-3">
                                <fa-icon class="iStyle"  [icon]="faGoogleWallet"></fa-icon>
                            </p>
                            <p class="pb-1">

                                <fa-icon class="iStyle"   [icon]="faSquareFacebook"></fa-icon>
                            </p>
                            <p class="pb-1">
                                <fa-icon class="iStyle"  [icon]="faInstagram"></fa-icon>
                            </p>
                            <p class="pb-1">
                                <fa-icon  class="iStyle" [icon]="faTwitter"></fa-icon>
                            </p>
                        
                            
                     
                        
                        </div>
                        <div class="col-lg-5 col-sm-6 d-flex  align-items-end">
                            <p class="text-white ps-2 pt-3 telStyle ">Telephone: <span  class=" text-white spanStyle">+7 700 000 00 00</span></p>
                        
                        </div> 
                        <div class="col-lg-4 "></div>
                    </div>
                    
                </div>
            </div>
        <div class="col-lg-4 col-sm-12  postion-relative layer  "> 
             <div class=" position-absolute translate-middle layoutRadial  imgStyle">
      
                   <img src="../../assets/cake1.png" alt="cake1"></div>
         
        </div>
    </div>

</div>

</div>